 
/* Estilo para o componente Lista */
.lista {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

/* Estilo para a seção de conteúdo */
.content-list {
  flex: 1;
  margin-right: 20px;
}

/* Estilo para a seção de lista de nomes */
.list-names {
  flex: 1;
}

/* Estilo para o título "Lista" */
.lista h1 {
  font-size: 24px;
  color: #333;
}

/* Estilo para a imagem */
.content-list img {
  width: 100%;
  height: auto;
}

/* Estilo para o parágrafo */
.content-list p {
  font-size: 16px;
  color: #666;
}

/* Estilo para o título "Lista nomes" */
.list-names h1 {
  font-size: 20px;
  color: #333;
}

/* Estilo para cada item da lista de nomes */
.listagem {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid;
}

/* Estilo para os fortes (strong) dentro dos itens da lista */
.listagem strong, .listagem span {
  padding: 5px;
}


.content-listagem{
border: 1px solid;
height: 332px;
overflow: auto;
}
